@using PagedList.Mvc;
@using PagedList;
@model PagedList.PagedList<WebBanSach.Models.NhaXuatBan>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<p>
    @Html.ActionLink("Thêm Mới Nhà Xuất Bản", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DienThoai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.ActionLink("Chỉnh Sửa", "chinhSua", new { @MaNXB = item.MaNXB }) |
                @Html.ActionLink("Hiển Thị", "HienThi", new { @MaNXB = item.MaNXB }) |
                @Html.ActionLink("Xóa", "Xoa", new { @MaNXB = item.MaNXB })
            </td>
        </tr>
    }

</table>

@* Tạo link liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>